* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: sans-serif;
}

@media (min-width: 960px) {
  .app-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
  }
  .app-container {
    max-width: 65rem;
    margin-left: 20rem;
  }
  #burger {
    display: none;
  }
}

@media (max-width: 961px) {

  #burger {
    display: block;
  }
}

div#theme {
  position: absolute;
  top: 15px;
  left: 15px;
  width: auto;
  height: auto;
}

input#themeToggle {
  display: none;
}

label.themeToggle {
  display: block;
  position: relative;
  border-radius: 4px;
}

div#burger {
  position: absolute;
  top: 15px;
  right: 15px;
  width: auto;
  height: auto;
}

.line { 
  display: block;
  position: relative;
  top: 0;
  left:4px;
  height: 4px; width: 30px; 
  border-radius: 2px;
  transition: 0.5s; 
  transform-origin: center; 
}

.line:nth-child(1) { top: 5px; }
.line:nth-child(2) { top: 10px; }
.line:nth-child(3) { top: 15px; }

label.hamburger { 
  display: block;
  position: relative; 
  margin-left: auto; margin-right: auto;
  border-radius: 4px;
}

input#hamburger {
  display: none;
}

#hamburger:checked + .hamburger .line:nth-child(1){
  transform: translateY(9px) rotate(-45deg);
}
#hamburger:checked + .hamburger .line:nth-child(2){
  opacity:0;
}
#hamburger:checked + .hamburger .line:nth-child(3){
  transform: translateY(-9px) rotate(45deg);
}

a {
  transition: color 0.35s;
  text-decoration: none;
  line-height: 1.1;
  display: inline-block;
}
a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
a, a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}
a:hover:after, a:focus:after {
  width: 100%;
}
hr {
  border:1px;
  border-style: solid;
  opacity: 0.5;
}

// Browsers seem to use a smaller default font-size with monospaced code
// blocks (like 80% of the size of normal text) and that looks pretty bad with
// small inline code-blocks in the middle of normal text (mainly because of
// the very noticeable difference in x-height). This CSS corrects that problem.
code {
  font-family: monospace,monospace;
  font-size: 1em;
}

pre {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0;
  overflow: auto;

  // A larger monospaced block of text (that isn't mixed with normal text)
  // generally looks heavier than normal text with the same font size. For this
  // reason using a smaller monospaced font size makes sense in this situation.
  code {
    font-size: .8em;
  }
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

.image {
  align-items: center;
  text-align: center;
}