.app-header {
  padding: 2.5em;
  background: $background-color;
  text-align: center;

  a {
    color: $primary-color;
    font-size: larger;
  }
  a::after{
    background-color: $primary-color;
  }
  h1 {
    color: $text-color;
  }
}

.app-header-avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 0.2rem solid $primary-color;
}

.app-container {
  padding: 2.5rem;
}

.app-header-social {
  font-size: 2em;
  color: $text-color;

  a {
    margin: 0 0.1em;
  }
}