.app-header {
  padding: 2.5em;
  text-align: center;
  a {
    font-size: larger;
  }
}

.app-header-avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border-width: 0.2rem;
  border-style: solid;
}

.app-container {
  padding: 2.5rem;
}

.app-header-social {
  font-size: 2em;
  a {
    margin: 0 0.1em;
  }
}